@model WebApp.Models.Categoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
<<<<<<< HEAD
    ViewBag.Title = "Registrando uma NOVA CATEGORIA";
=======
    ViewBag.Title = "Registrando uma nova categoria";
>>>>>>> 9d93c6f57bb7c68c8570ddec69738b81bfb437eb
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
<<<<<<< HEAD
            Registro de uma NOVA CATEGORIA
=======
            Registro de uma nova categoria
>>>>>>> 9d93c6f57bb7c68c8570ddec69738b81bfb437eb
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
<<<<<<< HEAD
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new
                    {
                    @class = "control-label col-md-2"
                    })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new
                        {
                            htmlAttributes =
                        new { @class = "form-control" }
                        })
                        @Html.ValidationMessageFor(model => model.Nome, "",
                        new { @class = "text-danger" })
=======
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
>>>>>>> 9d93c6f57bb7c68c8570ddec69738b81bfb437eb
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
<<<<<<< HEAD
                <input type="submit" value="Adicionar Fabricante" class="btn btn-danger" />
                @Html.ActionLink("Retornar para a listagem de CATEGORIAS", "Index", null,
                new { @class = "btn btn-warning" })
=======
                <input type="submit" value="Adicionar categoria" class="btn btn-danger" />
                @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-warning" })
>>>>>>> 9d93c6f57bb7c68c8570ddec69738b81bfb437eb
            </div>
            <br />
            <br />
        </div>
    </div>
}

@section ScriptPage {
    <script src="~/Scripts/jquery.validate.min.js">
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js">
    </script>
}
